html {
    background: url(header.jpg) no-repeat center center fixed;
    /* image provided by https://unsplash.com/@malgonia_bujalsky */
}

body {
    overflow: hidden;
    padding-top: 1em;
    display: flex;
    justify-content: center;
    margin: 0px 15em 0px 15em;
}

button {
    position: relative;
    height: 30px;
    border-radius: 20px;
    border: none;
    outline: none;
    background: #ffffff;
    color: #111111;
    text-transform: uppercase;
    cursor: pointer;
}

h1 {
    margin: 0;
    padding: 0;
    font-size: 35px;
    font-weight: 400;
    font-family: 'Lobster', cursive;
    text-align: center;
}

h1 span {
    display: table-cell;
    margin: 0;
    padding: 0;
    animation: animate 3s linear infinite;
}

h1 span:nth-child(1) {
    animation-delay: 1s;
}

h1 span:nth-child(2) {
    animation-delay: 1.5s;
}

h1 span:nth-child(3) {
    animation-delay: 2.2s;
}

h1 span:nth-child(4) {
    animation-delay: 2.5s;
}

h1 span:nth-child(5) {
    animation-delay: 3.2s;
}

h1 span:nth-child(6) {
    animation-delay: 3.5s;
}

h1 span:nth-child(7) {
    animation-delay: 3.7s;
}

h1 span:nth-child(8) {
    animation-delay: 4.5s;
}

h1 span:nth-child(9) {
    animation-delay: 5s;
}

h1 span:nth-child(10) {
    animation-delay: 5.5s;
}

h1 span:nth-child(11) {
    animation-delay: 6s;
}

h1 span:nth-child(12) {
    animation-delay: 6.5s;
}

h1 span:nth-child(13) {
    animation-delay: 7s;
}

@keyframes animate {
    0%, 100% {
        color: #ffffff;
        filter: blur(1px);
        text-shadow: 0 0 10px #00b3ff, 0 0 20px #00b3ff, 0 0 40px #00b3ff, 0 0 80px #00b3ff, 0 0 120px #00b3ff, 0 0 200px #00b3ff, 0 0 300px #00b3ff, 0 0 400px #00b3ff;
    }
    5%, 95% {
        color: #111111;
        filter: blur(0px);
        text-shadow: 0 0 10px none;
    }
}

::placeholder {
    font-size: 1.3em;
}

.wordEnter {
    margin-right: 3em;
    /* padding-right: 3em; */
    border-radius: 5px;
    border: none;
    outline: none;
}

button:hover {
    /* background: linear-gradient(90deg, #03a9f4, #f441a5, #ffeb3b, #259191, #03a9f4); */
    background: linear-gradient(to right, red, violet, yellow, red);
    background-size: 400%;
    z-index: 1;
    animation: glow 6s linear infinite;
}

@keyframes glow {
    0% {
        background-position: 0%;
    }
    100% {
        background-position: 400%;
    }
}

button:before {
    content: '';
    position: absolute;
    background: inherit;
    top: -5px;
    right: -5px;
    left: -5px;
    bottom: -5px;
    border-radius: 20px;
    filter: blur(10px);
    opacity: 0;
    transition: opacity 0.5s;
}

button:hover:before {
    opacity: 1;
    z-index: -1;
}

.list {
    display: flex;
    justify-content: center;
    padding: auto;
    margin: auto;
    position: relative;
    font-size: 25px;
    text-transform: uppercase;
}

.enter {
    display: flex;
    justify-content: center;
    padding: 10px;
    margin: auto;
}

/* h1 {
    display: block;
    font-size: 35px;
    font-weight: 400;
    font-family: 'Lobster', cursive;
    margin-block-start: .1em;
    margin-block-end: .1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
} */

.box {
    position: absolute;
    background-color: white;
    border-radius: 20px;
    height: 400px;
    width: 400px;
}

.box::before, .box::after {
    position: absolute;
    content: "";
    background: linear-gradient(to right, red, violet, yellow, red);
    width: 100%;
    height: 100%;
    transform: scale(1.04);
    z-index: -1;
    background-size: 500%;
    animation: glow 10s linear infinite;
    border-radius: 20px;
}

.box::after {
    filter: blur(200px);
}